<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IPlayerServices" />
				<binding name="BasicHttpBinding_IWordServices" />
				<binding name="BasicHttpBinding_IGameServices" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.1.254:8735/HangedMan_Server/PlayerServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlayerServices"
                contract="PlayerServices.IPlayerServices" name="BasicHttpBinding_IPlayerServices" />
			<endpoint address="http://192.168.1.254:8734/HangedMan_Server/WordServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWordServices"
                contract="WordServices.IWordServices" name="BasicHttpBinding_IWordServices" />
			<endpoint address="http://192.168.1.254:8733/HangedMan_Server/GameServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGameServices"
                contract="GameServices.IGameServices" name="BasicHttpBinding_IGameServices" />
		</client>
	</system.serviceModel>
</configuration>